html {
    position: relative;
    min-height: 100%;
}
body {
    font-family: 'Quicksand', serif;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    padding-top: 4.5rem;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}
